* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* #mp {
  background-color: #fbfbfb;
  background-image: linear-gradient(to bottom, #ffffff 50%, #f6f6f6 100%);
  background-position: bottom left;
  height: 5em;
}

#mp1 {
  margin-left: 10em;
  height: 5em;
} */

.bg-color {
  background-color: #f7f7f7;
}

.main-page {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.top-menu {
  height: 25px;
  font-size: 0.8125em;
}

.logged-in {
  margin-left: 0.75em;
}

.mp {
  font-size: 0.8125em;
}

.talk {
  font-size: 0.8125em;
}

.main-page .read {
  margin-left: 525px;
  font-size: 0.8125em;
}

.main-page .view-source {
  margin-left: 570pxpx;
  font-size: 0.8125em;
}
.down-menu .view-history {
  font-size: 0.8125em;
}

.logo {
  height: 50px;
  width: 50px;
}

/*  */
/* .div {
  height: 200px;
  width: 1000px;
  background-color: aquamarine;
}

.div1 {
  background-color: bisque;
} */

.box1 {
  /* height: 105px; */
  width: 100%;
  margin-top: 10px;
  background-color: rgb(247 243 243);
  /* float: right; */
  border: 1px solid #aaa;
}

/* div {
  text-align: center;
} */

.top-text {
  font-size: 152%;
  font-family: inherit;
}

.small-text {
  font-size: 95%;
}

.col-lg-7 {
  background: #f5fffa;
  border: 1px solid #93afb7;
}

.col-lg-5 {
  background: #f5fffa;
  border: 1px solid #93afb7;
}

.left-menu {
  background-color: rgb(208, 233, 233);
}

.list-group {
  font-size: 0.8125em;
  width: 170px;
  min-width: 170px;
  border: 1px solid rgb(226, 226, 236);
  background-color: #f7f7f7;
}

.border {
  background-color: #cef2e0;
  border-color: #a3bfb1;
}

.border1 {
  background: #cedff2;
  border-color: #a3b0bf;
  border: 1px solid #aaa;
}

.d-5 {
  /* height: 250px; */

  background-color: rgb(253, 253, 253);
  border: 1px solid rgb(141, 141, 194);
}

.image {
  height: 180px;
  width: 200px;
  float: left;
}

.div7 {
  background-color: rgb(255, 255, 255);
  /* height: 230px; */
}

.div8 {
  background-color: rgb(255 255 255);
  /* height: 650px; */
}

.image1 {
  height: 150px;
  width: 30%;
  float: left;
}

.image2 {
  height: 150px;
  width: 130px;
  float: right;
}

.image3 {
  height: 150px;
  width: 132px;
  float: right;
}

.image4 {
  height: 150px;
  width: 130px;
  float: right;
}

.image5 {
  height: 160px;
  width: 133px;
  filter: opacity(100%);
  object-fit: cover;
}

.image6 {
  height: 170px;
  width: 130px;
  float: left;
}

.div9 {
  background-color: rgb(255 255 255);
  width: 100%;
  /* height: 300px; */
}

.div10 {
  /* height: 271px; */
  width: 100%;
}

.list {
  width: 33%;
  min-width: 20em;
  white-space: nowrap;
  flex: 1 0 25%;
  gap: 20px;
  max-height: 67px;
}

.logo-sm {
  min-width: 50px;
}

.text {
  /* vertical-align: middle; */
  /* padding: 6px 4px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-img {
  height: 35px;
  width: 35px;
}
.logo-img1 {
  height: 35px;
  width: 35px;
}

.logo-img2 {
  height: 35px;
  width: 35px;
}

.wiki-sis {
  row-gap: 10px;
}

.mid-table {
  border-color: transparent;
}

.mp-bordered {
  border-width: 1px;
  border-style: solid;
}
.lastdiv {
  list-style: none;
  text-align: center;
  clear: both;
}
.lastdiv-text {
  width: 90%;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  margin: 0 auto;
}
.single-line {
  width: 100%;
  height: 1px;
  margin: 0.5em 0;
  background-color: #c8ccd1;
  flex-shrink: 1;
  align-self: center;
}
.number {
  padding: 0 1em;
  white-space: nowrap;
}
.single-line1 {
  width: 100%;
  height: 1px;
  margin: 0.5em 0;
  background-color: #c8ccd1;
  flex-shrink: 1;
  align-self: center;
}
.text-line {
  margin-left: 0;
}

.text-line-1 {
  margin: 0;
  display: inline;
}

ul .mid-list {
  margin-left: 0;
}

.mid-list1 {
  margin: 0;
  display: inline;
}

.anchor-text {
  white-space: nowrap;
}

.footer {
  font-size: 0.75em;
}
.footer-text {
  list-style: none none;
  margin: 0;
  padding: 0;
}

.footer-list {
  float: left;
  margin-right: 1em;
  line-height: 2;
}
.last-button {
  float: right;
}
.btn-image {
  float: left;
  margin-left: 0.5em;
  line-height: 2;
  text-align: right;
}
.wikimedia-img {
  border: 0;
  vertical-align: middle;
}
.btn-image1 {
  float: left;
  margin-left: 0.5em;
  line-height: 2;
  text-align: right;
}
